body{
    width: 100%;
    height: 100dvh;
    background: #5c5c5c;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}
#toggle{
    display: none;
}
label{
    padding: 4em 10em;
    border-radius: 200px;
    background-image: url(day.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: .5s ease;
    box-shadow: 7px 15px 35px 0px rgba(0,0,0,0.75)
}
.circle{
    position: absolute;
    padding: 3.5em;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    left: 3%;
    transform: translate(0, -50%);
    transition: .5s ease;
}
#toggle:checked ~ label .circle{
    left: 96%;
    transform: translate(-97%, -50%);
}
#toggle:checked ~ label{
    background-image: url(night.png);
}
